@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

body {
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-9649986002cc67e05789121d49b3529e-lq");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

#main-header {
    border: 5px solid #7F9C96;
    border-radius: 15px;
    box-shadow: dimgray 3px 3px 5px;
    background:-webkit-radial-gradient(center, ellipse, #8FAD88,whitesmoke);
}

#saludo {
    background-color:#7F9C96;
    font-size: 16pt;
    font-weight: normal;
    font-style: italic;
}

#main-header hgroup h1 {
    color:whitesmoke;
    font-size: 40pt;
    font-weight: lighter;
    text-align: center;
    text-shadow: black 3px 3px 5px;
}

#main-header hgroup h2 {
    color: dimgray;
    font-size: 13pt;
    font-weight: lighter;
    font-style: italic;
}

nav {
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    height: 30px;
    background-color: #8FAD88;
    color:dimgray;
    font-size: 8pt;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;

}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30px;
}

nav li {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 10pt;
}

main {
    display: flex;
    justify-content: space-between;
}

#left-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    padding: 0px 10px;
    background-color:#8FAD88;
    float: left;
    border: 5px solid #7F9C96;
    border-radius: 15px;
    box-shadow: dimgray 3px 3px 5px;
    font-size: 12pt;
    font-weight: bolder;
}

#left-aside li:hover {
    transform: scale(1.02);
}

#left-aside li {
    font-weight: lighter;
    font-size: 10pt;
    transition: 0.8s ease 0s;
}

section {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #8FAD88;
    margin-left: 10px;
    border: 5px solid #7F9C96;
    border-radius: 15px;
    box-shadow: dimgray 3px 3px 5px;
    overflow: scroll;
    overflow-x: hidden;
}

section h2 {
    font-size: 14pt;
    text-align: center;
    margin: 3px 5px;
}

article {
    margin: 3px 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.article-header {
    background-color: rgba(0, 0, 0, 10%);
    color: black;
    padding: 5px 10px;
}

.article-header h3:hover {
    transform: scale(1.02);
}

.article-header h3 {
    margin: 0px;
    font-size: 10pt;
    transition: 1s ease 0s;
}

.article-header h4 {
    font-size: 8pt;
}

.article-header p {
    margin: 0;
    font-size: 8pt;
}

article p {
    color: black;
    font-size: 8pt;
}

.articulo figcaption {
    text-align: center;
    font-size: 8pt;
    color: black;
    margin: 2px auto;
}

.articulo img {
    border-color: #1B4079;
    border-style: solid;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #7F9C96;
    color: whitesmoke;
    clear:both;
    margin-top: 10px;
    border: 5px solid #7F9C96;
    border-radius: 15px;
    box-shadow: dimgray 3px 3px 5px;
}

footer small {
    display: block;
    text-align: center;
}

footer address {
    font-size: 10px;
    text-align: center;
}

.articulo img:hover {
    transform: scale(1.05)
}

.articulo img {
    transition: 0.8s ease 0s;
}

