@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

body {
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-9649986002cc67e05789121d49b3529e-lq");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

#main-header {
    background-color: #1B4079;
    border-style: solid;
    border-color: #7F9C96;
    border-radius: 15px;
    border-width: 5px;
}

#saludo {
    background-color:#7F9C96;
    font-size: 16pt;
    font-weight: normal;
    font-style: italic;
    margin-top: 0;;
}

#main-header hgroup h1 {
    color:whitesmoke;
    font-size: 40pt;
    font-weight: lighter;
    margin: 0;
    margin-top: 40px;
    text-align: center;
    height: 100px;
}

#main-header hgroup h2 {
    color:#CBDF90;
    font-size: 13pt;
    font-weight: lighter;
    font-style: italic;
    margin: 0 0 15px 10px;
}

header nav {
    background-color: #8FAD88;
    color:dimgray;
    font-size: 8pt;
    font-weight: 600;
    text-transform: uppercase;
    height: 30px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #CBDF90;
    border-radius: 5px;
}

header nav li {
    background-color: #1B4079;
    display: inline;
}

#left-aside {    
    background-color:#CBDF90;
    float: left;
    color: black;
    width: 200px;
    height: 400px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    border-style: solid;
    border-color: #7F9C96;
    border-radius: 15px;
    border-width: 5px;
    font-size: 12pt;
    font-weight: bolder;
}

#left-aside li {
    font-weight: lighter;
}

section {
    background-color: #8FAD88;
    color: black;
    height: 300px;
    width: 400px;
    border-style: solid;
    border-color: #7F9C96;
    border-radius: 15px;
    border-width: 5px;
}

section h2 {
    font-size: 14pt;
}

article {
    background-color: whitesmoke;
    border-radius: 5px;
}

.article-header {
    color: black;
}

.article-header h3 {
    font-size: 10pt;
}

.article-header h4 {
    font-size: 8pt;
}

.article-header p {
    font-size: 6pt;
}

article p {
    color: black;
    font-size: 8pt;
}

.articulo figure {
    margin: 0;
    height: 100px;
}

.articulo figcaption {
    font-size: 6pt;
}

.articulo img {
    margin: 0;
    padding: 0;
    border-color: #1B4079;
    border-style: solid;
    border-radius: 3px;
    height: 80px;
    width: 105px;
}

footer {
    margin-top: 20px;
    background-color: #7F9C96;
    color: whitesmoke;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: #7F9C96;
}

footer address {
    font-size: 10px;
}