body {
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-9649986002cc67e05789121d49b3529e-lq");
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#main-header {
    background-color: #1B4079;
}

#saludo {
    background-color:#7F9C96;
    font-size: 16pt;
}

#main-header hgroup h1 {
    color:whitesmoke;
    font-size: 40pt;
}

#main-header hgroup h2 {
    color: whitesmoke;
    font-size: 16pt;
}

header nav {
    background-color: #8FAD88;
    color:black;
    font-size: 10pt;
    text-transform: uppercase;
}

#left-aside {    
    background-color:#CBDF90;
    color: black;
}

#left-aside li {
    font-size: 10pt;
    color: black;
}

section {
    background-color: #8FAD88;
    color: black;
}

article {
    background-color: whitesmoke;
}

.article-header {
    color: black;
}

.article-header p {
    font-size: 8pt;
}

article p {
    color: black;
}

footer {
    background-color: #7F9C96;
    color: whitesmoke;
}